<div id="comment-<%= comment.id %>"><table>
  <tr>
    <td><%= comment.user.nickname %></td>
    <td id="content-<%= comment.id %>"><%= comment.content %></td>

    <% if current_user && current_user.id == comment.user_id %>
        <td><%= link_to 'Delete', comment, method: :delete %></td>
        <td><a href="#" id="<%= comment.id %>" onclick="edit_form(event)">Edit</a> </td>
    <% end %>
  </tr>
</table></div>