<%= form_for @post, html: {multipart: true} do |f| %>
    <div class="form-field">
      <%= f.label :title %>
      <br />
      <%= f.text_field :title %>
    </div>
    <div class="form-field">
      <%= f.label :text %>
      <br />
      <%= f.text_area :description %>
    </div>
    <%= f.fields_for :images do |p| %>
        <div class="field">
          <%= p.label :image %><br>
          <%= f.file_field :image, :multiple => true, name: "images[image][]" %>
        </div>
    <% end %>
    

    <%= f.submit 'Add post' %>
<% end %>