<h1>Recent posts</h1>
<% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.description %></p>
    <p>Created at: <%= post.created_at %></p>
    <%= link_to 'Show', post %>
    <% post.images.each do |i| %>
        <%= image_tag(i.image.url) %>
    <% end %>
    <% if current_user.owner %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, method: :delete %>
    <% end %>

<% end %>
<% if current_user.owner %>
    <%= render 'posts/form' %>
<% end %>