<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<p>Created at: <%= @post.created_at %></p>
<% @post.images.each do |i| %>
    <%= image_tag(i.image.url) %>
<% end %>

<% if current_user.owner %>
    <%= link_to 'Edit', edit_post_path(@post) %>
    <%= link_to 'Delete', @post, method: :delete %>
<% end %>
<%= link_to 'Back', root_path %>

<div class="comments">
  <h4><%= @comments.count %> comments</h4>
  <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
<%= form_for setup_comment do |f| %>
    <%= f.hidden_field :post_id, :value => @post.id %>

    <%= f.text_area :content %>
    <br />
    <%= f.submit 'Comment' %>
<% end %>
