<ul>
  <li><%= link_to 'Home', root_url %></li>
  <% if current_user %>
      <li>Welcome, <%= current_user.nickname %></li>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to 'Manage profile', edit_user_registration_path %></li>
  <% else %>
      <li><%= link_to 'Log In', new_user_session_path %></li>
      <li><%= link_to 'Register', new_user_registration_path %></li>

  <% end %>
</ul>
